/* HomeNavbar Styles */
.home-navbar {
  background-color: var(--bg);
  color: var(--text-primary);
}

.home-navbar a {
  color: var(--text-primary);
}

.home-navbar a:hover {
  text-decoration: underline;
}